/* Universal selector to reset default margin, padding, set box-sizing, and set default font size and background color*/
*
{
    margin: 0; /* remove default margin from all elements */
    padding: 0; /* remove default padding from all elements */
    box-sizing: border-box; /* set box-sizing to border-box for consistent sizing */
	font-size: 16px; /* set default font size */
}
/*
	royal blue: 0402AD
	lannister red: 850202
	gold: B1A906
	silver: d5e0e0
	gray: bcbcc4
	turquoise: 01f8e7
	seledine: 01c47e
*/
	
body /* body styling */
{
	font-family: Garamond, serif; /* set Garamond as the main font */
	color: #0402AD; /* set text color to royal blue */
}
/* Styl nagłówka */
header 
{
    padding: 20px;
	border-bottom: 2px solid #9b9b9b;
}

header p /*podtytuł*/
{
	text-align: center;
	color: #9b9b9b;
}	

h1 /*główne headery*/
{
	text-align: center;
	position: relative;
    margin: 0;
	font-size: 5rem;
	font-weight: bold;
	text-decoration: underline;
}
h2 /* secondary headers */
{
	text-align: center;
	font-size: 2rem;
}

/* Styl nawigacji */
nav ul 
{
    list-style-type: none; /* usunięcie domyślnego stylu */
	text-align: center;
}

nav ul li /* elementy listy */
{
    display: inline; /* elementy obok siebie */
	margin-left: 30px;
	margin-right: 30px;
}

nav ul li a /* styl linków */
{
    color: #9b9b9b;
	font-size: 2rem;
	font-weight: bold;
}
section
{
	margin: 20px /*margines między elementami*/
}
article /* boxy */
{
    padding: 20px;
    border: 1px solid #9b9b9b;
    margin-bottom: 20px;
	text-align: center;
}
.special_width
{
	width: 50%;
	overflow-x: auto;
}

article img /* obrazy wewnątrz boxów*/
{
	display: block; /* image display as block element*/
	margin: 0 auto; /*autocenter*/
	width: 100%;
	height: auto; /*scales the image to article object*/
}
article p /* czcionka w boxach*/
{
	font-size: 1rem;
	color: #9b9b9b;
}
.container
{
	display: flex; /* flexbox do ustawienia elementów article*/
	flex-wrap:wrap; /*wrap linii na wypadek braku miejsca*/
}
.side-by-side
{
	width: 50%; /*article bierze połowę miejsca na podziale*/
}

/* Link z powrotem do głównej strony */
.back-link
{
	position: fixed;
	top: 20px;
	left: 20px;
	z-index: 1000;
}
	
/* pasek boczny */
#sidebar {
  width: 200px;
  height: 100vh;
  position: fixed;
  top: 40px;
  left: -250px;
  transition: left 0.3s ease;
  padding: 20px;
  border: 1px solid transparent;
}

div ul li /*styl listy*/
{
	margin: 20px;
	background-color #01c47e;
}

div ul li a /* styl linków */
{
    color: #9b9b9b;
    text-decoration: none; /* usunięcie podkreślenia */
	font-weight: bold;
}


#sidebar.show {
  left: 0;
  background-color: #01c47e;
  border-right-color: #9b9b9b;
  border-top-color: #9b9b9b;
  z-index: 999;
}

#toggleButton {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 999;
}

/* Responsywny design */
@media screen and (max-width: 768px) 
{
    header 
	{
        text-align: center;
    }

    nav ul 
	{
        text-align: center;
        margin-top: 10px;
    }

    nav ul li 
	{
        display: block;
        margin-bottom: 10px;
    }

    article 
	{
        padding: 10px;
    }
}
video 
{
	max-width: 100%;
	height: auto;
}

/* Kalendarz */
.calendar-container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
	width: fit-content;
	display: inline-block;
	max-width: 100%;
	overflow: visible;
}

.calendar-container header {
	position: relative;
	flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
	border: 2px solid #9b9b9b;
}

header .calendar-navigation {
	position: absolute;
    display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 0 1rem;
}

header .calendar-navigation span {
    height: 2rem;
    width: 2rem;
    margin: 0 1px;
    cursor: pointer;
    text-align: center;
    line-height: 2rem;
    border-radius: 50%;
    user-select: none;
    color: #aeabab;
    font-size: 1.9rem;
}

.calendar-navigation span:last-child {
    margin-right: -10px;
}

header .calendar-navigation span:hover {
    background: #f2f2f2;
}

header .calendar-current-date {
	text-align: center;
	height: 2rem;
	line-height: 2rem;
    font-weight: 500;
    font-size: 1.45rem;
	padding: 0 1rem;
}

.calendar-body {
    padding: 20px;
}

.calendar-body ul {
    list-style: none;
    flex-wrap: nowrap;
    display: flex;
    text-align: center;
}

.calendar-body .calendar-dates {
    margin-bottom: 20px;
}

.calendar-body li {
    width: calc(100%/7);
    font-size: 1.07rem;
    color: #414141;
}
.calendar-weekdays
{
	display: flex;
}

.calendar-body .calendar-weekdays li {
    cursor: default;
    font-weight: 500;
}

.calendar-body .calendar-dates
{
	display: flex;
	flex-wrap: wrap;
}

.calendar-body .calendar-dates li {
    margin-top: 30px;
	flex: 1 0 calc(100% / 7); /* Each date takes up one-seventh of the row */
    text-align: center;
    margin: 5px 0; /* Optional spacing between rows */
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.calendar-dates li.inactive {
    color: #aaa;
}

.calendar-dates li.active {
    color: #fff;
}

.calendar-dates li::before {
    position: absolute;
    content: "";
    z-index: -1;
    top: 50%;
    left: 50%;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.calendar-dates li.active::before {
    background: #B1A906; /* colour of today's date */
}

.calendar-dates li:not(.active):hover::before {
    background: #e4e1e1; /* colour of hovered over date not-today */
}

.calendar-dates li.reserved::before {
    background: #850202; /* mark reserved dates with red circle */
}


/* Linki*/
a:visited, /* targets all links clicked on */
a:active, /* targets all links currently clicked on or activated */
a  /* targets all elements regardless of their state */
{
  text-decoration: none; /* removes underlines from links in any of the specified states */
}
a:hover /* targets elements when mouse pointer hovers over them */
{
  cursor: pointer; /* changes the cursor to a pointer whe hovering over the link */
  color: #03067d; /* defines the new color when hovered over */ 
  transition: 0.4s; /* defines how long the transition takes */
  text-decoration: underline; /* adds underline to the hovered over links */
}
